{% extends 'accueil-gerant.html.twig' %}

{% block containtFluid %}

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <!-- card-header -->
        <div class="card-header">
          <h3 class="card-title">Tableau des produits finis</h3>
          {% if is_granted('ROLE_CHEF') or is_granted('ROLE_GERANT') %}
            <div class="btn-group float-right">
              <a class="btn btn-block bg-gradient-primary" href="{{ path('add_detail_produit') }}">
                <i class="fas fa-plus"></i>
                Ajouter
              </a>
            </div>
          {% endif %}
          
        </div>
        <!-- /.card-header -->

        <!-- card-body -->
        <div class="card-body">
          
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Code produit</th>
                  <th>Libelle produit</th>
                  {% if is_granted('ROLE_COMPTABLE') %}
                    <th>Prix unitaire</th>    
                  {% endif %}
                  <th>Quantite produit</th>
                  <th>Action</th>
                </tr>
              </thead>
              
                <tbody>
                  {% if detail_produits != null %}
                    {% for detail in detail_produits %}
                      <tr>
                        <td>{{ detail.code }}</td>
                        <td>{{ detail.libelle }}</td>
                        {% if is_granted('ROLE_COMPTABLE') %}
                          <td>{{ detail.prixUnitaire }}</td>    
                        {% endif %}
                        <td>{{ detail.detailProduitFini.quantite }}</td>
                        {% if is_granted('ROLE_GERANT') %}
                          <td>
                            <a class="btn btn-info btn-sm" href="#">
                              <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                              <i class="fas fa-trash"></i>
                            </a>
                          </td>
                          {% else %}
                            <td>
                              <a class="btn btn-danger btn-sm" href="#">
                                <strong>VENDRE</strong>
                              </a>
                          </td>
                        {% endif %}
                        
                      </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
              
            </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- card -->

{% endblock %}