{{ include('inc/head.html.twig') }}
{{ include('inc/sidebar.html.twig') }}
<!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          {% if is_granted('ROLE_GERANT') %}
            <a href="{{path('home_gerant')}}" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                {% if app.user %}
                    Dashboard
                  {% else %}
                    Accéder à votre espace
                {% endif %}
              </p>
            </a>
          {% endif %}
        </li>
        <li class="nav-header">Liste des options</li>
        <li class="nav-item">
          <a href="{{path('manage_matiere')}}" class="nav-link">
            <i class="nav-icon fas fa-seedling"></i>
            <p>
              Gestion Matieres Premieres
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{path('manage_detail_commande')}}" class="nav-link">
            <i class="nav-icon fas fa-paste"></i>
            <p>
              Gestion Commandes
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{path('manage_detail_appro')}}" class="nav-link">
            <i class="nav-icon fas fa-dolly"></i>
            <p>
              Gestion Appro
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{path('manage_detail_production')}}" class="nav-link">
            <i class="nav-icon fas fa-industry"></i>
            <p>
              Gestion Productions
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{path('manage_detail_produit')}}" class="nav-link">
            <i class="nav-icon fas fa-bread-slice"></i>
            <p>
              Gestion Produits
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
    {% if app.user %}
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{asset('dist/img/tchep.jpg')}} " class="img-circle elevation-2" alt="Image du user">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{profile}}</a>
        </div>
      </div>
      <a href="{{path('app_logout')}}" class="brand-link">
        <i class="nav-icon fas fa-sign-out-alt"></i>
        <span class="brand-tex t font-weight-light">Se déconnecter</span>
      </a>
    {% endif %}
  </div>
  <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                {{page_name}}
              </li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <div class="container-fluid">
        <!-- Notice -->
          <div class="row">
            <div class="col-12">
              <div class="callout callout-info" >
                <h5>
                  <i class="fas fa-info"></i> 
                  Note:
                </h5>
                <h2 class="text-center">
                  Bienvenu dans l'espace de gestion de la boulangerie Daradji.
                <h2>
              </div>
            </div>
          </div>
          {% if not app.user %}
            {% block connexionButton %}
              <div class="row">
                <div class="col-lg-4 offset-lg-4">
                  <a class="btn btn-link btn-block bg-gradient-primary btn-lg" href="{{path('app_login')}}">
                    Connexion
                  </a>
                </div>
              </div>
            {% endblock %}
          {% endif %}
          <!-- /.row -->
        {% block containtFluid %}
        {% endblock %}
        {% if is_granted('ROLE_CHEF') %}
          <!-- Small boxes (Stat box) -->
            <div class="row">

              <div class="col-lg-6 col-12">
                <!-- small box -->
                <div class="small-box bg-info">
                  <div class="inner">
                    <p>Bilan Gérant</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-industry"></i>
                  </div>
                  <a href="{{path()}}" class="small-box-footer">
                    Cliquez 
                    <i class="fas fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <!-- ./col -->

              <div class="col-lg-6 col-12">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <p>Bilan Comptable</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-dolly"></i>
                  </div>
                  <a href="#" class="small-box-footer">
                    Cliquez 
                    <i class="fas fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <!-- ./col -->

            </div>
            <!-- /.row -->
        {% endif %}
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{{ include('inc/foot.html.twig') }}