{% extends 'accueil-comptable.html.twig' %}

{% block containtFluid %}

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-primary">
        
        <!-- card-header -->
        <div class="card-header">
          <h3 class="card-title">Vente</h3>
        </div>
        <!-- /.card-header -->

        <!-- card-body -->
        <div class="card-body">
          {% if error %}
            <div class="alert alert-danger">
              {{ error.messageKey|trans(error.messageData) }}
            </div>  
          {% endif %}
          {{ form_start(form) }}
              
            <div class="form-group">
                {{form_widget(form.client, {'attr': {'class': 'form-control'}})}}
            </div>
            <div class="form-group">
              {{ form_widget(form.produitFini, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{form_row(form.quantite, {'attr': {'class': 'form-control'}})}}
            </div>
               
            <button type="submit" class="btn btn-primary">Enregistrer</button>

          {{ form_end(form) }}
        </div>
        <!-- /.card-body -->
        
      </div>
    </div>
  </div>
  
{% endblock %}