{% extends 'accueil-comptable.html.twig' %}

{% block containtFluid %}

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <!-- card-header -->
        <div class="card-header">
          <h3 class="card-title">Tableau des ventes</h3>
        </div>
        <!-- /.card-header -->

        <!-- card-body -->
        <div class="card-body">
          
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Nom client</th>
                  <th>Libelle produit</th>
                  <th>Quantite vendu</th>
                  <th>Total payé</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% if ventes != null %}
                  {% for vente in ventes %}
                    <tr>
                      <td>{{ vente.client.nom }}</td>
                      <td>{{ vente.produitFini.libelle }}</td>
                      <td>{{ vente.quantite }}</td>
                      <td>{{ vente.produitFini.prixUnitaire * vente.quantite }}</td>
                      <td>
                        <a class="btn btn-info btn-sm" href="#">
                          <i class="fas fa-eye">
                            voir facture
                          </i>
                        </a>
                        
                        <a class="btn btn-secondary btn-sm" href="{{ path('generate_facture', {'id': vente.id}) }}">
                          <i class="fas fa-print">
                            imprimer facture
                          </i>
                        </a>
                      </td>
                      
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
              
            </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- card -->

{% endblock %}
