{% extends 'accueil-comptable.html.twig' %}

{% block containtFluid %}

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <!-- card-header -->
        <div class="card-header">
          <h3 class="card-title">Tableau des ventes</h3>
          <div class="btn-group float-right">
              <button type="button" class="btn btn-block bg-gradient-primary" data-toggle="modal" data-target="#modalAjoutForm">
                <i class="fas fa-plus"></i>
                Vendre
              </button>
          </div>
        </div>
        <!-- /.card-header -->

        <!-- card-body -->
        <div class="card-body">
          
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Email</th>
                  <th>Téléphone</th>
                  <th>Action</th>
                </tr>
              </thead>
              
                <tbody>
                  {% for client in clients %}
                    <tr>
                      <td>{{ client.id }}</td>
                      <td>{{ client.nom }}</td>
                      <td>{{ client.prenom }}</td>
                      <td>{{ client.email }}</td>
                      <td>{{ client.telephone }}</td>
                      <td>
                        <a class="btn btn-info btn-sm" href="{{ path('modify_client', {'id': client.id}) }}">
                          <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" href="{{ path('delete_client', {'id': client.id}) }}">
                          <i class="fas fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              
            </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- card -->

    <!-- Modal -->
    <div class="modal fade" id="modalAjoutForm" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h4 class="modal-title">Ajout d'un client</h4>
          </div>
          <div class="modal-body">
            
              {{ form_start(form) }}
                <div class="form-group">
                  {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  {{ form_row(form.prenom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  {{ form_row(form.email, {'attr': {'class': 'form-control', 'type':'email'}} )}}
                </div>
                <div class="form-group">
                  {{ form_row(form.telephone, {'attr': {'class': 'form-control'}}) }}
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
              {{ form_end(form) }}
            
          </div>
        </div>
      </div>
    </div>
    <!-- /.Modal -->

{% endblock %}
